$color_blue: #333333;
$color_green: #669999;
$color_white: #cccccc;

$font_size: 10pt;

* {
  border: solid 1px;
  /*  都確認好就可以註解掉  */
  font-family: 微軟正黑體;
  color: $color_blue;
  position: relative;
  font-size: $font_size*1.5;
}

html,
body {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.resume {
  display: flex;
  width: 1280px;
  max-width: 1280px;
  /*   height: 100%;
  weight: 100%; */
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  border: solid;
}

.titile_h1 {
  padding-left: 10px;
  font-size: 24pt;
  color: #669999;
}

p {
  padding-left: 40px;
}

.menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu li {
  display: inline-flex;
  // display: inline-block;
  /*   inline inline-block有差別喔 */

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;

  font-family: 微軟正黑體;
  font-size: 18pt;
  letter-spacing: 1px;
}

.about {
  display: flex;
  flex-direction: row;
}

.about1, .about2 {
  flex: 1;
}

.about1 {
  background-color: $color_blue;
}

.about1 p {
  color: $color_white;
}

.ability {
  background-color: #333333;
}

.ability ul {
  // display: inline-flex;
}
.ability li {
  list-style-type: none;
  padding-top: 10px;
  
}
.skill {
  display: inline-flex;
  color: $color_white;
  width: 150px;
}
.bar {
  display: inline-flex;
  border: solid 1px #cccccc;
  width: 100px;
  height: 15px;
}
.bar.v1 {
  background-color: #ffffff;
}

.text {
  display: inline-flex;
  justify-content: flex-end;
  width: 100px;
  color: $color_white;
}


.education {
  
}

.certificate ul {
  list-style-type: none;
}