@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
* {
  position: relative;
  font-family: "Noto Sans TC";
  color: #333333;
  font-size: 15pt;
  // border: solid 1px;
}

html,
body {
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  scroll-behavior: smooth;
}

body {
  padding-top: 59px;
}

.resume {
  width: 100%;
  max-width: 960px;

  .titile_h1 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 24pt;
    color: #669999;
  }
  p {
    padding-left: 50px;
  }
}

.menu {
  position: fixed;
  width: 100%;
  max-width: 960px;
  top: 0;
  z-index: 100;

  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(black, 0.5);
  background-color: white;

  ul {
    padding: 0;
    display: flex;
    justify-content: space-around;

    li {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      list-style-type: none;

      a {
        color: #333333;
        letter-spacing: 1px;
        text-decoration: none;

        &:hover {
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.about {
  display: flex;
  h1 {
    display: flex;
    flex-direction: column;
  }
  svg {
    visibility: hidden;
    width: 100px;
    // height: 10px;
    line {
      stroke-width: 3px;
      stroke: white;
    }
    // animation: appear 3s ease-in-out;
  }

  .about1,
  .about2 {
    width: 50%;
    // height: 200px;
  }
  .about1 {
    background-color: #333333;
    p {
      color: #cccccc;
    }
  }
}
.education {
  h1 {
    display: flex;
    flex-direction: column;
  }
  .education_svg {
    visibility: hidden;
    width: 95px;
    // height: 10px;
    line {
      stroke-width: 3px;
      stroke: #333333;
    }
    // animation: appear 3s ease-in-out;
  }
  .separate {
    .svg {
      // display: flex;
      width: 540px;
      height: 150px;
      circle {
        stroke: black;
        stroke-width: 0.3;
        fill: none;
        stroke-dasharray: 0 20;
        animation: circle 3s linear forwards;
      }

      @keyframes circle {
        100% {
          stroke-dasharray: 20;
        }
      }

      line {
        stroke: black;
        stroke-width: 0.3;
      }
      text {
        font-size: 2.5pt;
      }
      .main_text {
        font-size: 3pt;
      }
      .text_color {
        fill: red;
      }
    }
  }
}
.ability {
  background-color: #333333;
  height: 400px;
  // padding-top: 80px;
  h1 {
    display: flex;
    flex-direction: column;
  }
  svg {
    visibility: hidden;
    width: 130px;
    // height: 10px;
    line {
      stroke-width: 3px;
      stroke: white;
    }
    // animation: appear 3s ease-in-out;
  }

  ul {
    padding-right: 20px;

    li {
      list-style-type: none;

      .skill {
        color: #cccccc;
      }

      .div_bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: grey;
        border: solid 1px #cccccc;
        border-radius: 5px;

        .bar {
          background-color: #333333;
          border: solid 1px #cccccc;
          border-radius: 3px;
          flex: 1;
          height: 20px;
          visibility: hidden;
        }
        .bar.v1 {
          background-color: #ffffff;
        }

        .stock {
          z-index: 4;
        }
        .stock2 {
          animation-delay: 1.5s;
          z-index: 3;
        }
        .stock3 {
          animation-delay: 3s;
          z-index: 2;
        }
        .stock4 {
          animation-delay: 4.5s;
          z-index: 1;
        }
      }

      .text_skill {
        display: flex;
      }
      .skill_text {
        text-align: center;
        color: #cccccc;
        width: 25%;
        // display: inline-flex;
      }
    } //li
  } //ul
}
.certificate {
  h1 {
    display: flex;
    flex-direction: column;
  }
  svg {
    // opacity: 0;
    visibility: hidden;
    width: 130px;
    // height: 10px;
    line {
      stroke-width: 3px;
      stroke: #333333;
    }
    // animation: appear 3s ease-in-out;
  }
  ul {
    padding-left: 50px;
    li {
      padding-left: 40px;
      padding-top: 20px;
      list-style-type: none;
      blockquote {
      }
    }
  }
}

.experience {
  background-color: #333333;

  h1 {
    display: flex;
    flex-direction: column;
  }
  svg {
    visibility: hidden;
    width: 130px;
    line {
      stroke-width: 3px;
      stroke: white;
    }
  }
  .p_center {
    display: flex;
    align-items: center;
    height: 100px;
    p {
      color: #cccccc;
    }
  }
}

.collection {
  h1 {
    display: flex;
    flex-direction: column;
  }
  svg {
    visibility: hidden;
    width: 100px;
    line {
      stroke-width: 3px;
      stroke: #333333;
    }
  }
}

.content {
  h1 {
    display: flex;
    flex-direction: column;
  }
  svg {
    visibility: hidden;
    width: 100px;
    line {
      stroke-width: 3px;
      stroke: #333333;
    }
  }
}

// .menu {
//   width: 50%;
//   max-width: 1280px;
// }

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
  }
}

.add_fade {
  animation: fade 2s ease-in-out forwards;
}

@keyframes fade2 {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
  }
}

.add_fade2 {
  animation: fade2 2s ease-in-out forwards;
}

@keyframes appear {
  0% {
    // width: 100px;
    // transform: translateX(-100px);
    // opacity: 0;
    // stroke-dashoffset:0;
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
  }
  100% {
    visibility: visible;
    // opacity: 1;
  }
}

.add_keyframe {
  animation: appear 3s ease-in-out forwards;
}

@media screen and (max-width: 800px) {
  .resume {
    .menu {
      display: none;
    }
    .about {
      display: block;
      .about1 {
        height: 250px;
        width: 100%;
      }
      .about2 {
        display: none;
      }
    }
    .education {
      display: inline-flex;
      .svg {
        // display: none;
      }
    }
  }
}
