@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  position: relative;
  font-family: "Noto Sans TC";
  color: #333333;
  font-size: 15pt;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  padding-top: 59px;
}

.resume {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.resume .titile_h1 {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24pt;
  color: #669999;
}

.resume p {
  padding-left: 50px;
}

.menu {
  position: fixed;
  width: 100%;
  max-width: 960px;
  top: 0;
  z-index: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.menu ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu ul li {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

.menu ul li a {
  color: #333333;
  letter-spacing: 1px;
  text-decoration: none;
}

.menu ul:hover {
  cursor: pointer;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about svg {
  visibility: hidden;
  width: 100px;
}

.about svg line {
  stroke-width: 3px;
  stroke: white;
}

.about .about1,
.about .about2 {
  width: 50%;
}

.about .about1 {
  background-color: #333333;
}

.about .about1 p {
  color: #cccccc;
}

.education h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.education .education_svg {
  visibility: hidden;
  width: 95px;
}

.education .education_svg line {
  stroke-width: 3px;
  stroke: #333333;
}

.education .separate .svg {
  width: 540px;
  height: 150px;
}

.education .separate .svg circle {
  stroke: black;
  stroke-width: 0.3;
  fill: none;
  stroke-dasharray: 0 20;
  -webkit-animation: circle 3s linear forwards;
          animation: circle 3s linear forwards;
}

@-webkit-keyframes circle {
  100% {
    stroke-dasharray: 20;
  }
}

@keyframes circle {
  100% {
    stroke-dasharray: 20;
  }
}

.education .separate .svg line {
  stroke: black;
  stroke-width: 0.3;
}

.education .separate .svg text {
  font-size: 2.5pt;
}

.education .separate .svg .main_text {
  font-size: 3pt;
}

.education .separate .svg .text_color {
  fill: red;
}

.education .separate .rwd_education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  display: none;
}

.education .separate .rwd_education img {
  width: 150px;
}

.ability {
  background-color: #333333;
  height: 400px;
}

.ability h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ability svg {
  visibility: hidden;
  width: 130px;
}

.ability svg line {
  stroke-width: 3px;
  stroke: white;
}

.ability ul {
  padding-right: 20px;
}

.ability ul li {
  list-style-type: none;
}

.ability ul li .skill {
  color: #cccccc;
}

.ability ul li .div_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  border: solid 1px #cccccc;
  border-radius: 5px;
}

.ability ul li .div_bar .bar {
  background-color: #333333;
  border: solid 1px #cccccc;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 20px;
  visibility: hidden;
}

.ability ul li .div_bar .bar.v1 {
  background-color: #ffffff;
}

.ability ul li .div_bar .stock {
  z-index: 4;
}

.ability ul li .div_bar .stock2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  z-index: 3;
}

.ability ul li .div_bar .stock3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  z-index: 2;
}

.ability ul li .div_bar .stock4 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  z-index: 1;
}

.ability ul li .text_skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ability ul li .skill_text {
  text-align: center;
  color: #cccccc;
  width: 25%;
}

.certificate h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.certificate svg {
  visibility: hidden;
  width: 130px;
}

.certificate svg line {
  stroke-width: 3px;
  stroke: #333333;
}

.certificate ul {
  padding-left: 50px;
}

.certificate ul li {
  padding-left: 40px;
  padding-top: 20px;
  list-style-type: none;
}

.experience {
  background-color: #333333;
}

.experience h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience svg {
  visibility: hidden;
  width: 130px;
}

.experience svg line {
  stroke-width: 3px;
  stroke: white;
}

.experience .p_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.experience .p_center p {
  color: #cccccc;
}

.collection h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection svg {
  visibility: hidden;
  width: 100px;
}

.collection svg line {
  stroke-width: 3px;
  stroke: #333333;
}

.content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content svg {
  display: none;
  width: 100px;
}

.content svg line {
  stroke-width: 3px;
  stroke: #333333;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
  }
}

.add_fade {
  -webkit-animation: fade 2s ease-in-out forwards;
          animation: fade 2s ease-in-out forwards;
}

@-webkit-keyframes fade2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
  }
}

.add_fade2 {
  -webkit-animation: fade2 2s ease-in-out forwards;
          animation: fade2 2s ease-in-out forwards;
}

@-webkit-keyframes appear {
  0% {
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
  }
  100% {
    visibility: visible;
  }
}

@keyframes appear {
  0% {
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
  }
  100% {
    visibility: visible;
  }
}

.add_keyframe {
  -webkit-animation: appear 3s ease-in-out forwards;
          animation: appear 3s ease-in-out forwards;
}

@media screen and (max-width: 800px) {
  html,
  body {
    padding-top: 10px;
  }
  .resume .menu {
    display: none;
  }
  .resume .about {
    display: block;
  }
  .resume .about .about1 {
    height: 250px;
    width: 100%;
  }
  .resume .about .about2 {
    display: none;
  }
  .resume .education {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .resume .education .svg {
    display: none;
  }
  .resume .education .rwd_education {
    display: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .resume .education .rwd_education .rwd_education1 {
    width: 35%;
  }
  .resume .ability {
    width: 100%;
  }
  .resume .certificate ul {
    padding-left: 20px;
    color: #669999;
  }
  .resume .certificate ul li {
    padding-left: 0px;
    padding-top: 10px;
  }
  .resume .experience {
    width: 100%;
  }
  .resume .experience p {
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 20px;
  }
  .resume .content p {
    padding-left: 20px;
  }
}
/*# sourceMappingURL=rwd_2.css.map */