@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  position: relative;
  font-family: "Noto Sans TC";
  color: #333333;
  font-size: 15pt;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.resume {
  width: 50%;
  max-width: 1280px;

  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
  border: solid;

  .titile_h1 {
    padding-left: 10px;
    font-size: 24pt;
    color: #669999;
    display: flex;
    flex-direction: column;
  }

  p {
    padding-left: 40px;
  }

  .p_center {
    display: flex;
    align-content: center;
  }

  .menu {
    position: fixed;
    width: 50%;
    max-width: 1280px;
    height: 80px;
    top: 0;
    z-index: 100;

    box-sizing: border-box;
    transition: top 0.4s ease-in-out;
    box-shadow: 0px 0px 20px rgba(black, 0.5);
    background-color: white;
    opacity: 1;

    ul {
      padding: 0;
      display: flex;
      justify-content: space-around;

      li {
        padding-top: 10px;
        list-style-type: none;

        a {
          font-size: 18pt;
          letter-spacing: 1px;
          text-decoration: none;

          &:hover {
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .about {
    display: inline-flex;
    flex-direction: row;

    margin-top: 80px;

    svg {
      width: 100px;
      height: 10px;
      line {
        stroke-width: 3px;
        stroke: white;
      }
      animation: appear 2s ease-in-out;
    }

    .about1,
    .about2 {
      flex: 1;
      height: 280px;
    }
    .about1 {
      background-color: #333333;
      p {
        color: #cccccc;
      }
    }
    .about2 {
      display: flex;
      justify-content: center;

      img {
        position: absolute;
        width: 540px;
        z-index: 1;
        // use animate
        // animation: z-index 4s ease-out;
      }

      // @keyframes z-index {
      //   0% {
      //     opacity: 0;
      //     z-index: 0;
      //   }
      //   100% {
      //     opacity: 1;
      //     z-index: 1;
      //   }
      // }
    }
  }

  .education {
    .education_svg {
      width: 100px;
      height: 10px;
      line {
        stroke-width: 3px;
        stroke: #333333;
      }
      animation: appear 2s ease-in-out;
    }
    .separate {
      .svg {
        // display: flex;
        width: 540px;
        height: 150px;
        circle {
          stroke: black;
          stroke-width: 0.3;
          fill: none;
        }
        line {
          stroke: black;
          stroke-width: 0.3;
        }
        text {
          font-size: 2.5pt;
        }
        .main_text {
          font-size: 3pt;
        }
        .text_color {
          fill: red;
        }

        @keyframes fadeout {
          0% {
          }
          100% {
          }
        }
      }
    }
  }

  .ability {
    background-color: #333333;

    svg {
      width: 130px;
      height: 10px;
      line {
        stroke-width: 3px;
        stroke: white;
      }
      animation: appear 2s ease-in-out;
    }

    @keyframes appear {
      0% {
        width: 0px;
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      padding-top: 10px;
      .skill {
        display: inline-flex;
        color: #cccccc;
        width: 150px;
      }
      .bar {
        border: solid 1px #cccccc;
        width: 100px;
        height: 15px;
      }
      .bar.v1 {
        background-color: #ffffff;
      }
      .text {
        display: inline-flex;
        justify-content: flex-end;
        width: 100px;
        color: #cccccc;
      }
      .certificate ul {
        list-style-type: none;
      }
    }
  }

  .certificate {
    svg {
      width: 130px;
      height: 10px;
      line {
        stroke-width: 3px;
        stroke: #333333;
      }
      animation: appear 2s ease-in-out;
    }
    ul {
      list-style-type: none;
    }
  }

  .work_experience {
    height: 200px;
    background-color: #333333;
    p {
      color: #cccccc;
    }
  }
  .collection {
    height: 300px;
  }
  .content {
    height: 200px;
  }
}

.hideUp .menu {
  top: -80px;
}
