@mixin block ($w:50px, $h:50px, $back:white, $bor:black) {
    width: $w;
    height: $h;
    background-color: $back;
    border: solid 2px $bor;
    transition-duration: 1s;
}

.block1 {
    @include block(200px, 200px);
}

// 操作是block1 但影響到的是block2
.block1:hover .block2{
    background-color: red;
}

.block1:hover .block3{
    background-color: blue;
    width: 150px;
}

.block1:active {
    background-color: black;
}

.block2, .block3 {
    @include block(50px, 50px);
}