@charset "UTF-8";
* {
  position: relative;
  font-family: 微軟正黑體;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1960px;
  margin-left: auto;
  margin-right: auto;
}

.nav1 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav1 ul li {
  padding: 7px;
  font-size: 18px;
  cursor: pointer;
}

.nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0e83cd;
  height: 120px;
}

.nav2 img {
  height: 100px;
  margin: 15px;
  cursor: pointer;
}

.nav2 .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

.nav2 .first .first_li {
  margin: 10px;
  font-size: 18px;
}

.nav2 .first .first_li a {
  color: white;
}

.nav2 .first .first_li .second {
  position: absolute;
  list-style: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  background-color: #0e83cd;
  display: none;
}

.nav2 .first .first_li .second li {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 0.5px black;
}

.nav2 .first .first_li:hover .second {
  display: block;
}

.nav2 .first .first_li:hover {
  background-color: #41b7e9;
}

.nav2 .first .second_li:hover {
  background-color: #41b7e9;
}

.nav2 a {
  text-decoration: none;
  color: black;
}

.nav2 .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.nav2 .search input {
  height: 20px;
  width: 150px;
  margin: 7px;
  font-size: 15px;
}

.nav2 .search button {
  font-size: 15px;
}

.imp_info .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imp_info .one .div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.imp_info .one .title {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}

.imp_info .one .test {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.imp_info p svg {
  position: absolute;
  top: 50%;
}

.imp_info p svg line {
  stroke-width: 1px;
  stroke: black;
}

/* Slideshow container */
.slideshow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
}

.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slideshow-container .prev {
  left: 5%;
}

.slideshow-container .next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container .text {
  color: #f2f2f2;
  font-size: 1em;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideshow-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.slideshow-container .dot_bar {
  text-align: center;
  /* The dots/bullets/indicators */
}

.slideshow-container .dot_bar .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.slideshow-container .dot_bar .active,
.slideshow-container .dot_bar .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=tkuim.css.map */