@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
  background-color: #f3f3f1;
}

.classbox {
  width: 260px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.classbox .teacher {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 15px;
  top: -27.5px;
  border-radius: 50%;
  background-image: url("https://hahow.in/images/57ab3d5585b097070042067a");
  background-size: cover;
  border: solid 2px white;
  z-index: 9;
}

.classbox:hover .bookbtn {
  bottom: 10px;
}

.classbox:hover .classpicture {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.classbox:hover .valuebar {
  width: 250px !important;
}

.top {
  height: 160px;
  overflow: hidden;
}

.top .classpicture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("https://hahow.in/images/574fab4f206cd60900c52a67?width=300");
  background-size: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top .tag {
  width: 100%;
  -webkit-transform: translateX(95px) translateY(15px) rotate(45deg);
          transform: translateX(95px) translateY(15px) rotate(45deg);
  text-align: center;
  padding: 5px 0px;
  background-color: #eb5e00;
  color: white;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.top .bookbtn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  bottom: -50px;
  background-color: #fff;
  color: #eb5e00;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top .bookbtn i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 22px;
}

.top .bookbtn:hover {
  background-color: #eb5e00;
  color: white;
}

.bottom {
  height: 184px;
  padding: 15px;
}

.bottom .classtitle {
  font-size: 25px;
  margin-top: 0px;
}

.bottom .texts {
  font-size: 15px;
  letter-spacing: 1px;
}

.bottom .texts .orange {
  padding-left: 5px;
  color: #fa8b00;
}

.bottom .texts .pricerow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom .texts .progressbar {
  height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e0e0db;
  overflow: hidden;
}

.bottom .texts .progressbar .valuebar {
  width: 150px;
  height: 100%;
  background-color: #fa8b00;
  border-radius: 5px 0px 0px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom .texts .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom .orangebar {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #eb5e00;
}
/*# sourceMappingURL=vue6_hahow.css.map */