* {
  font-family: 微軟正黑體;
  //   border: solid 1px black;
}
body {
  padding: 20px;
}
.bkl_icon {
  width: 100px;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
}
.book {
  padding: 10px;
  text-align: center;
  width: 170px;
  border: solid 1px #bbb;
  a {
    color: #555;
  }
  img {
    width: 100%;
  }
  .name {
    a {
      height: 50%;
    }
  }
  //   .display {
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     align-content: flex-end;
  //   }
  .author,
  .price,
  .publish {
    font-weight: normal; //字體粗度
    margin: 0;
    font-size: 14px;
    color: #555;
  }

  .author {
    margin-top: 5px;
  }

  .name {
    font-size: 18px;
    margin: 0;
    a {
      color: #222;
    }
  }
  .red {
    font-weight: 900;
    color: #d93800;
  }
}
.book.detail {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  width: 80%;

  img {
    width: 150px;
    // display: inline-block;
    .infos {
      //   display: inline-block;
      width: calc(100% - 150px -20px);
      //   vertical-align: middle;
    }
  }
}
